<script src="https://kit.fontawesome.com/9396e1c35d.js" crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">Ublog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/usuario"><i class="fas fa-home"></i>Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/configuracion"><i class="fa-solid fa-atom"></i>
                        Configuracion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/nuevo-post"><i
                            class="fa-solid fa-circle-plus"></i>Nuevo Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/misPost"><i
                            class="fa-solid fa-circle-plus"></i>Mis publicaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/ranking"><i
                            class="fa-solid fa-circle-plus"></i>ranking</a>
                </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-success" type="submit" (click)="cerrarSesion()">Cerrar Sesion</button>
            </form>
        </div>
    </div>
</nav>

<body>
    <script>
        let d = new Date();
        document.body.innerHTML = "<h1>Time right now is:  " + d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds()
        "</h1>"
    </script>
    <div class="container">
        <div class="text-center">
            <h1>Ranking de publicaciones</h1>

        </div>
        <br><br>
        <div class="table">
            <table class="table table-responsive table-bordered">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>usuario</th>
                        <th>Likes</th>
                        <th>publicacion</th>
                    </tr>
                </thead>
                
                    <tbody *ngFor="let publicacion of response">
                        <tr>
                            <td>{{publicacion.type}}</td>
                            <td>{{publicacion.owner}}</td>
                            <td>{{publicacion.like}}</td>
                            <td *ngIf="esImagen"><img src="{{publicacion.url}}" class="card-img-top"></td>
                            
                            <td *ngIf="esVideo"><iframe   [src]="publicacion.url | sanitizador" ></iframe> 
                            </td>
                        </tr>
                    </tbody>
              
            </table>
        </div>
    </div>
</body>