  body {
    height: 730px;
    background-image: url("https://i.blogs.es/9201c7/i3gaps/1366_2000.png");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
  }