<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
       <a class="navbar-brand">Ublog</a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink="/admin"><i
                      class="fas fa-home" ></i>Inicio</a>
             </li>
             <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/admin/users" ><i class="fa-solid fa-atom"></i> Usuarios</a>
             </li>
             <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink="/admin/posts" ><i class="fa-solid fa-circle-plus"></i> Publicaciones</a>
             </li>
             
          </ul>
          <form class="d-flex">
             <button class="btn btn-outline-success" type="submit" > Cerrar Sesion</button>
          </form>
       </div>
    </div>
 </nav>

 <div class="container">
    <div class="col-md-6 mx-auto text-center">
       <div class="header-title">
          <h1 class="wv-heading--title">
             Modificar datos
          </h1>
       </div>
    </div>
    <div class="text-right" style="text-align: right;">
        <button class="btn btn-outline-info" (click)="botonRegresar()"> Regresar </button>
    </div>
    <div class="alert alert-success text-center col-md-4 mx-auto" role="alert" *ngIf="loginSucces">
       <p>{{mensajeMostrar}}</p>
    </div>
    <div id="error" class="alert alert-danger text-center col-md-4 mx-auto" *ngIf="errorDatos">
       <p>{{mensajeMostrar}}</p>
    </div>
    <div class="row">
       <div class="col-md-4 mx-auto">
          <div class="myform form ">
             <form action="" method="put" name="login">
                <div class="form-group">
                   <label for="name" class="text-info">Nombre</label>
                   <input type="text" name="name" class="form-control my-input" placeholder={{name}}
                      [(ngModel)]="nuevoUsuario.name">
                </div>
                <div class="form-group">
                   <label for="gender" class="text-info">Genero</label>
                   <input type="text" name="gender" class="form-control my-input" placeholder={{gender}}
                      [(ngModel)]="nuevoUsuario.gender">
                </div>
                <div class="form-group">
                   <label for="username" class="text-info">Username</label>
                   <input type="text" name="username" class="form-control my-input" placeholder={{username}}
                      [(ngModel)]="nuevoUsuario.username">
                </div>
                <div class="form-group">
                   <label for="email" class="text-info">Email</label>
                   <input type="email" name="email" class="form-control my-input" placeholder={{email}}
                      [(ngModel)]="nuevoUsuario.email">
                </div>
                <div class="form-group">
                   <label for="password" class="text-info">Contraseña</label>
                   <input type="password" name="password" class="form-control my-input" placeholder="Contraseña"
                      [(ngModel)]="nuevoUsuario.password" required minlength="8">
                </div>
                <div class="text-center ">
                   <button type="submit" class=" btn btn-block send-button tx-tfm"  (click)="actualizarUsuario()">Guardar
                      Cambios</button>
                </div>
             </form>
          </div>
       </div>
    </div>
 </div>
